@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="Appointments" asp-action="Index">appointments</a></p>
    <p><a asp-controller="Contacts" asp-action="Index">Contacts</a></p>
    <p><a asp-controller="Notes" asp-action="Index">Notes</a></p>
    <p><a asp-controller="Tasks" asp-action="Index">Tasks</a></p>
</div>
